<h6>Who is online</h6>
<p>In total there are <b>{{this.userService.users.online}}</b> users online: {{this.userService.users.hidden}} hidden and {{this.userService.users.anonymous}} guests (based on users active over the past 5 minutes)</p>