<div class="line_footer">
    <div class="wrap footer_container">
            <div class="column_left">
            <div class="block_top">
                <h6>Information</h6>
                <ul>
                    <li><a href="#" class="footer-link">F.A.Q.</a></li>
                    <li><a href="#" class="footer-link">Rules</a></li>
                    <li><a href="#" class="footer-link">News</a></li>
                    <li><a href="#" class="footer-link">About</a></li>
                    <li><a href="#" class="footer-link">Privacy</a></li>
                    <li><a href="#" class="footer-link">Terms of service</a></li>
                </ul>
            </div>
            <div class="block_down">
                <h6>Contact us</h6>
                <span>Contact a Board Administrator</span>
            </div>
            
            </div>
            <div class="column_right">
                {{online-user}}
                <span class="rights">Powered by discourse.org  |  (c) Ascensio System SIA 2021. All right reserved</span>
            </div>
    </div>
</div>