<div class="line_footer">
    <div class="wrap footer_container">
            <div class="column_left">
            <div class="block_top">
                <h6>Information</h6>
                <ul>
                    <li><a href="https://community.onlyoffice.com/faq" class="footer-link">F.A.Q.</a></li>
                    <li><a href="https://community.onlyoffice.com/t/welcome-to-onlyoffice-forum/7" class="footer-link">Rules</a></li>
                    <li><a href="https://www.onlyoffice.com/blog" class="footer-link" target="_blank">News</a></li>
                    <li><a href="https://community.onlyoffice.com/about" class="footer-link">About</a></li>
                    <li><a href="https://help.onlyoffice.com/products/files/doceditor.aspx?fileid=5048502&doc=SXhWMEVzSEYxNlVVaXJJeUVtS0kyYk14YWdXTEFUQmRWL250NllHNUFGbz0_IjUwNDg1MDIi0&_ga=2.101739969.1105072466.1587625676-1002786878.1584771261" target="_blank" class="footer-link">Privacy</a></li>
                    <li><a href="https://help.onlyoffice.com/Products/Files/doceditor.aspx?fileid=6615734&doc=cy9XcGc5TXNONjVTMkNrR2NZUEVTT2E1Y1FDZGVRQ1YvOTJYTnpkZ3JEWT0_IjY2MTU3MzQi0" target="_blank" class="footer-link">Terms of service</a></li>
                </ul>
            </div>
            <div class="block_down">
                <h6>Contact us</h6>
                <span>Contact a <a href="mailto:community@onlyoffice.com" class="footer-link">Board Administrator</a></span>
            </div>
            
            </div>
            <div class="column_right">
                {{online-user}}
                <span class="rights">Powered by discourse.org  |  (c) Ascensio System SIA 2021. All right reserved</span>
            </div>
    </div>
</div>